.main-content{
    height: 100% !important;
}

.back-to-top-btn{
    background-color:  var(--accent-color) !important;
    color: white !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border-radius: 100% !important;
}